body {
    font-family: Arial, sans-serif;
    background-color: #A09ABC;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #D5CFE1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, select, button {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border:#A09ABC;
}

button {
    border-radius: 5px;
    background-color: #A09ABC;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #B6A6CA;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
